.error-message {
    border-radius: 6px;
    padding-left: 10px;
    height: auto;
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
}

.form-control {
    min-height: 41px;
    box-shadow: none;
    border-color: #e1e4e5;
}

.form-control:focus {
    border-color: #003300;
}

.form-control, .btn {
    border-radius: 3px;
}

.input-description {
    max-height: 300px;
    height: 200px;
}